.p1{
    background-color: aqua;
    border-style: solid;
    border-width: 3px;
}

.p2{
    background-color: white;
    border-style: dashed;
    border-width: 3px;
}

.p3{
    background-color: white;
    border-style: dashed double dotted solid;
    border-width: 3px;
}

.p4{
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: red violet blue green;
}

.p5, .p6{
    font-family: Arial;
    background-color: beige;
}

body{
    width: 700px;
}

